<div class="py-5 mx-auto" style="max-width: 320px;">
    <h5 class="text-muted">Add a book</h5>
    <form action="#" method="get">
        <div class="form-group">
            <div class="col-sm-1-12">
                <input
                    type="text"
                    id="book-title"
                    placeholder="Book Title"
                    class="form-control"
                    required="required"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1-12">
                <input
                    type="text"
                    id="book-author"
                    class="form-control"
                    placeholder="Book Author"
                    required="required"
                />
            </div>
        </div>
        <div class="col-sm-1-12 justify-content-right">
            <button id="add" class="btn btn-primary" type="submit" onClick="">
                Add
            </button>
        </div>
    </form>
</div>
