<div class="py-5 p-sm-5 d-block">
    <table class="table table-sm table-hover table-bordered table-responsive-md">
        <thead>
            <tr>
                <th scope="col">
                    Author
                    <span style="cursor: pointer;" class="order-author-asc">
                        &#x25BC;
                    </span>
                    <span style="cursor: pointer;" class="order-author-desc">
                        &#x25B2;
                    </span>
                </th>
                <th scope="col">
                    Title
                    <span style="cursor: pointer;" class="order-title-asc">
                        &#x25BC;
                    </span>
                    <span style="cursor: pointer;" class="order-title-desc">
                        &#x25B2;
                    </span>
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="table-book-list"></tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <button class="prev-page btn btn-sm">
                Previous
            </button>
            <button class="next-page btn btn-sm">
                Next
            </button>
        </ul>
    </nav>
</div>